@using SecondMVC.Models
@model IEnumerable<SecondMVC.Models.Students>

@{
    Layout = null;
    ViewBag.Title = "Class";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>All</title>
</head>
<body>
    <div>
        <h3>@ViewBag.Class</h3>
        <ul>
            @foreach (Students stu in Model)
            {
                <li>
                    @Html.ActionLink(stu.Name, "Details", new { id = stu.Id })
                </li>
            }
        </ul>
        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</body>
</html>
