@using SecondMVC.Models
@model IEnumerable<SecondMVC.Models.Departments>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h3>Deparments</h3>
        <ul>
            <li>
                @Html.ActionLink("All", "All")
            </li>
            @foreach (Departments dept in Model)
            {
                <li>
                    @Html.ActionLink(dept.Name, "Department", new { id = dept.Id })
                </li>
            }
        </ul>
        <p>
            @Html.ActionLink("Back to Home", "Index","Home")
        </p>
    </div>
</body>
</html>
